{% extends 'base.twig' %}

{% block content %}
    <section class="container py-5">
        <div class="row align-items-start g-5">
            <div class="col-12 col-lg-6">
                <h1 class="display-5 fw-bold mb-3 lh-sm color-2">
                    Página não encontrada.
                </h1>
            </div>

        </div>
    </section>
{% endblock %}